@{
    ViewBag.Title = "Home";
}


<div class="jumbotron" style="margin: auto">
    <h1 style="text-align: center">Exam System</h1>
    <div style="width: 100%;margin: 100px auto;text-align: center;">
        @if (!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Login", "Login", "Account", null, htmlAttributes: new { style = "font-size: 20px", @class = "btn btn-primary" })
        }
        else
        {
            <h3>Welcome @User.Identity.Name</h3>
        }
    </div>
</div>